body{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: antiquewhite;
    flex-direction: column;
    font-size: 18px;
}

table {
    border: 2px blue solid;
    width: 650px;
}

thead {
    background-color: blueviolet;
}

th {
    border: 2px blue solid;
}

td {
    border-top: 2px blue solid;
}

